.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJpcphzRJslzwPTnCHUFjtYj87zkj7GcYQkzuod-Cn-Y9O09k5aA') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-grid.center-items {
  justify-content: center;
}

